@import "~normalize-scss/sass/normalize/import-now";
@import '~react-perfect-scrollbar/dist/css/styles.css';

@import "assets/scss/colors";

$font-color: $font-color--primary;
$bg-color: $background--dark;

html,
body {
  min-height: 100vh;

  color: $font-color;

  background-color: $bg-color;

  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;

  overflow-y: hidden;

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
  }

  button {
    font: {
      family: inherit;
      size: inherit;
    }
    line-height: inherit;
    color: inherit;

    cursor: pointer;
  }
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
