@import "colors";
@import "media-q";

.main {
	padding-top: 60px;
	height: 100%;
	flex-grow: 1;

	background-color: $_medium-grey;

	box-sizing: border-box;
}

.main_inner {
	padding: 30px 0;

	@media (min-width: $mobile-width) {
		padding: 60px 0;
	}
}
