@import "colors";
@import "media-q";
@import "mixins";

.tableContainer {
	@include transition-mix();

	padding: 0 30px 30px 30px;

	border-radius: 5px;
	background-color: $background--primary;
	box-shadow:
					0 2px 2px 0 rgba(0,0,0,0.14),
					0 3px 1px -2px rgba(0,0,0,0.12),
					0 1px 5px 0 rgba(0,0,0,0.2);;

	box-sizing: border-box;

	&:hover {
		box-shadow:
						0 4px 5px 0 rgba(0,0,0,0.14),
						0 1px 10px 0 rgba(0,0,0,0.12),
						0 2px 4px -1px rgba(0,0,0,0.3);
	}
}

.tableContainer_inner {
	padding: 30px 0;
}

.table {
	margin: auto;

	border-collapse: collapse;

	th,
	td {
		min-width: 180px;
		padding: 10px;

		border: 1px solid rgba(255,255,255, .2);

		box-sizing: border-box;

		@media (min-width: $mobile-width) {
			min-width: 220px;
		}
	}

	th {
		vertical-align: top;

		img {
			max-height: 80px;
			margin: auto;
		}
	}

	th:first-child {
		border: none;
	}
}


