@import "colors";
@import "media-q";

.title {
	margin-top: 0;

	font: {
		size: 1.5rem;
		weight: 500;
	}
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $font-color--accent;

	@media (min-width: $mobile-width) {
		font: {
			size: 2rem;
		}
	}
}
