@import "colors";
@import "media-q";
@import "mixins";

.card {
	@include transition-mix();

	max-width: 300px;
	padding: 15px;

	border-radius: 5px;
	background-color: $background--primary;
	box-shadow:
					0 2px 2px 0 rgba(0,0,0,0.14),
					0 3px 1px -2px rgba(0,0,0,0.12),
					0 1px 5px 0 rgba(0,0,0,0.2);;

	box-sizing: border-box;
	cursor: pointer;

	&:hover {
		box-shadow:
						0 8px 17px 2px rgba(0,0,0,0.14),
						0 3px 14px 2px rgba(0,0,0,0.12),
						0 5px 5px -3px rgba(0,0,0,0.2);
	}
}
