// descriptive colors !!do not use these variables directly!!
$_aqua-blue: aqua;

$_black: #000;

$_straw-brown: #D7C078;

$_reef-green: #A1A332;

$_light-grey: #424242;
$_medium-grey: #303030;
$_nero-grey: #212121;

$_brick-red: #B62321;

$_white: #fff;

// functional color scheme !!use it in developing!!
$background--primary: $_light-grey;
$background--accent: $_straw-brown;
$background--danger: $_brick-red;
$background--success: $_reef-green;
$background--dark: $_black;
$background--dark-2: $_nero-grey;
$background--medium: $_medium-grey;

$font-color--primary: $_white;
$font-color--secondary: rgba($_white, .7);
$font-color--accent: $_straw-brown;
$font-color--accent2: $_aqua-blue;
$font-color--danger: $_brick-red;
$font-color--success: $_reef-green;
$font-color--dark: $_nero-grey;
